.panel-heading {
  padding-top: 2px;
  padding-bottom: 2px;
}

.panel-heading h5 {
  margin: 2px;
}

img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 4px;
}

.alert-warning {
  background-color: #fdffea;
}

.alert-danger {
  background-color: #ffeaea;
}
